@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=PT+Sans+Caption&display=swap');
/* Adding the css link from bootstrap website */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
/* Adding the css link from bootstrap website */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js');
/* Adding the javascript link from the bootstrap website */



html,
body {
    height: 90%;
    background: url(images/hospital.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    display: table;
    margin: auto;
    
}

body {
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: white;
    background-image: url("Images/hospital.png"); */
}

.imgStyle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    background-color: white;
    vertical-align: bottom;
}